/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES CSS */
:root {
  /* COLORS PRIMARY */
  --colorGold500: hsl(39, 89%, 49%);
  --colorGold600: hsl(28, 76%, 44%);
  --colorBlue500: hsl(230, 89%, 62%);
  --colorBlue700: rgb(42, 70, 192);
  --colorRed600: hsl(349, 71%, 52%);
  --colorRed800: hsl(347, 75%, 35%);
  --colorPurple600: hsl(261, 73%, 60%);
  --colorPurple700: hsl(261, 51%, 44%);
  --colorLightBlue400: hsl(189, 59%, 53%);
  --LightBlue500: rgb(45, 140, 169);

  /* COLORS NEUTRAL */

  /* dark text */
  --colorNavy900: rgb(59, 67, 99);

  /* score text */
  --colorBlue700: #2a46c0;
  --colorGray600: hsl(246, 11%, 37%);

  /* COLORS BACKGROUND */
  --colorRadialGradient: #1f3756 to #141639;
}

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a:link {
  text-decoration: none;
  /* display: block; */
}

/*  
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  max-width: 100%;
  /* display: grid; */
  align-content: center;
  height: 100vh;
  /* 
  margin: 0 auto; */
  overflow: hidden;
  position: relative;

  background: linear-gradient(
    0deg,
    rgba(20, 22, 57, 1) 100%,
    rgba(31, 55, 86, 1) 0
  );
}
/* .container {
  max-width: 1366px;
} */

/* -------------HEADER------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 43.75rem;
  margin: 48px auto 163px auto;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;

  padding: 18px 24px 18px 33px;
}

.header__scored {
  display: grid;
  justify-items: center;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 100%,
    rgba(243, 243, 243, 1) 0%
  );

  padding: 15px 47px;
  border-radius: 8px;
}
.header__title {
  font:
    600 1rem / 1 "Barlow Semi Condensed",
    sans-serif;
  letter-spacing: 2.5px;
  color: #2a45c2;
}

.header__score {
  font:
    700 64px / 1 "Barlow Semi Condensed",
    sans-serif;
  color: #565468;
}

.selection {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;

  max-width: 29.75rem;
  height: 26.875rem;

  margin: 0 auto;
  /* position: relative; */
}

.selection__img {
  position: absolute;
}

.selection__option {
  margin-top: -6.25rem;
}

.selection__option,
.options__option {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.selection__icon,
.options__icon {
  z-index: 999;
}

.selection__option::after,
.options__option::after {
  position: absolute;
  content: "";
  display: block;
  width: 9.5rem;
  height: 9rem;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: inset 0px 8px 0px rgba(218, 218, 218, 1);
}

.selection__option::before,
.options__option::before {
  position: absolute;
  content: "";
  display: block;
  width: 12rem;
  height: 12.125rem;
  border-radius: 100%;
  background-color: #4664f4;
  box-shadow: inset 0px -8px 0px #2a45c2;
}

.hover {
  width: 15.75rem;
  height: 15.5rem;
  display: none;
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
}

.selection__option:hover .hover {
  display: block;
  opacity: 0.1;
}

/* Animation selection container */
.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.options__option::after {
  width: 14rem;
  height: 13.313rem;
}

.options__option .hover,
.hover1,
.hover2 {
  width: 21.875rem;
  height: 21.875rem;
  display: block;
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
}

.hover1 {
  width: 28.125rem;
  height: 28.125rem;
  z-index: -2;
  background-color: #fff;
  opacity: 0.1;
}

.hover2 {
  width: 34.375rem;
  height: 34.375rem;
  z-index: -3;
  background-color: #fff;
}

.grid-1 {
  grid-row: 1;
  grid-column: 3;
}

.grid-1::before {
  background-color: var(--colorGold500);
  box-shadow: inset 0px -8px 0px #c76c1b;
}

.grid-2 {
  grid-row: 3;
  grid-column: 2;
}

.grid-2::before {
  background-color: var(--colorRed600);
  box-shadow: inset 0px -8px 0px #9d1634;
}

.options__option::before {
  width: 18.25rem;
  height: 17.875rem;
}

.options {
  max-width: 38.938rem;
  display: grid;
  align-items: center;

  margin: 0 auto;

  height: 26.875rem;
}

.options__text,
.options__player {
  display: none;
  grid-template-columns: 1fr 1fr;
}

.options__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.options__player {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.options__title {
  font:
    700 24px / 1.33 "Barlow Semi Condensed",
    sans-serif;
  letter-spacing: 3px;
  color: #fff;
}

.options__option--empty {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0);
  opacity: 0.1;
  display: grid;
}

.options__option--empty > .options__option {
  z-index: 999;
}

.options__result {
  display: grid;
  justify-items: center;
  padding-left: 60px;
}

.options__subtitle {
  font:
    700 56px / 1.33 "Barlow Semi Condensed",
    sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.btn__again {
  font:
    600 16px / 1 "Barlow Semi Condensed",
    sans-serif;
  letter-spacing: 2.5px;
  padding: 15px 60px;
  background: #fff;
  color: #3b4262;
  text-transform: uppercase;
  border-radius: 8px;
}
.btn__again:active {
  color: #3b4262;
}

.btn-rules {
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 11px 36px;
  font:
    600 16px / 1 "Barlow Semi Condensed",
    sans-serif;
  color: #fff;
  letter-spacing: 2.5px;
  margin-right: 32px;
  display: grid;
  justify-self: end;
  cursor: pointer;
}

.rules {
  display: grid;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: 415px;
  background-color: #ffffff;

  padding: 32px 32px 47px 32px;

  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.footer {
  max-width: 100%;
}

.header__rules {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font:
    700 32px / 1 "Barlow Semi Condensed",
    sans-serif;
  color: #3b4262;
}

.rules__img {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0px;

  position: absolute;
}

.color-0::before {
  background-color: #4664f4;
  box-shadow: inset 0px -8px 0px #2a45c2;
}

.color-1::before {
  background-color: var(--colorGold500);
  box-shadow: inset 0px -8px 0px #c76c1b;
}

.color-2::before {
  background-color: var(--colorRed600);
  box-shadow: inset 0px -8px 0px #9d1634;
}

@keyframes deslizar {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.animar {
  animation-name: deslizar;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

/* RESPONSIVE */
@media (max-width: 50em) {
  .header {
    margin: 32px 32px 144px 32px;
  }
}
@media (max-width: 50em) {
  .header__title {
    font-size: 10px;
    letter-spacing: 1.56px;
    color: #2a45c2;
  }

  .header__score {
    font-size: 40px;
  }

  .header__scored {
    padding: 10px 22px;
    border-radius: 5px;
  }

  .header__img {
    width: 83px;
    height: 48px;
  }

  .selection {
    max-width: 19.5rem;
    height: 17.625rem;
  }

  .selection__img {
    width: 166px;
    height: 188px;
  }

  .selection__icon,
  .options__icon {
    width: 48px;
    height: 56px;
  }

  .selection__option::after,
  .options__option::after {
    width: 99px;
    height: 94px;
  }

  .selection__option::before,
  .options__option::before {
    width: 129px;
    height: 126px;
  }

  .options {
    max-width: 324px;
    height: 182px;
    /* display: grid; */
    /* margin: 0 32px 0 32px; */
    /* row-gap: 40px; */
  }

  .options__option {
    max-width: 325px;
    /* margin: auto; */
    /* height: 182px; */
  }

  .options__player {
    margin: 0 32px;
    /* justify-content: center;
    gap: 20px; */
  }

  .options__text {
    grid-row: 2;
    margin-bottom: 0;
    justify-content: center;
    gap: 70px;
    /* grid-template-columns: auto auto; */
  }

  .options__result {
    padding-left: 0;
  }

  .options__title {
    font-size: 15px;
  }

  .options__option--empty {
    width: inherit;
    height: 110px;
  }

  .options__subtitle {
    font-size: 15px;
  }
  .btn__again {
    font-size: 12px;
    padding: 7px 7px;
  }

  .footer {
    margin-top: 50px;
    display: grid;
    justify-content: center;
  }

  @keyframes deslizar {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .animar {
    animation-name: deslizar;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

.hidden {
  display: none;
}
